html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;

  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
  --font-color: black;

  --h1: 7.593rem;
  --h2: 5.063rem;
}

body {
  background-color: var(--primary);
}
.warm {
  --primary: var(--light-red);
}

h1 {
  font-size: var(--h1);
}
